*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	background: #5B474A;
	color : #323232;
}


img {
	max-width: 100;
}

/*Navbar*/
#list {
	background: white;
	display: flex;
	height: 50px;
	justify-content: space-around; 
	list-style-type: none;
	margin-bottom: 40px;


}

.navbar-list {
	color: black;
	padding-top: 13px;
	text-decoration: none;
	width: auto;

}

.navbar-list:hover {
	transition: 0.7s;
	font-weight: bold;
	font-size: 20px;
}

/* Main Page*/
#icon {
	fill: currentColor;
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	padding-right: 5px;
}

a {
	color: #323232;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	max-width: 960px;
	margin: 40px auto;
	padding: 32px;
	background: white;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 20px;
	padding: 24px 0;
	border-bottom: 1px solid lightgrey;	
}

section:last-child {
	border-bottom: none;
}

.section-title {
	font-weight: bold;
	font-size: 18px;
}


/* Main Page*/

img.avatar {
	width: 130px;
}

.my-name {
	font-size: 48px;
	line-height: 1;
}

.my-title {
	font-size: 24px;
	font-weight: 300;
	color: #236fb2;
}

.links {
	display: flex;
	margin: 10px 0 20px 0;
}

.link-items {
	display: flex;
	align-items: center;
	flex: 1;
}

/* Experience*/

.job {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid lightgrey;
}

.job:last-child {
	border-bottom: none;
}

.job.title-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 18px;
}

.job-company {
	font-weight: bold;
	line-height: 1.2;
}

/*Skills*/

.skills-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 24px;
}

.skills-container ul {
	margin-left: 20px;
	list-style-type: disc;
}

/*References*/

.reference {
	font-size: 20px;
	font-weight: bold;
}