*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

/*Navbar*/

#list {
	background: #06053C;
	display: flex;
	height: 50px;
	justify-content: space-around; 
	list-style-type: none;
	margin-bottom: 40px;


}

.navbar-list {
	color: white;
	padding-top: 13px;
	text-decoration: none;
	width: auto;

}

.navbar-list:hover {
	transition: 0.7s;
	font-weight: bold;
	font-size: 20px;
}

/*Profile Page*/

#wholeprofile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.profile {
	padding-left: 100px;

}

#icon {
	size: inherit;
}

.my-name {
	font-size: 36px;
	font-weight: bold;
	padding-top: 36px;
	text-align: right;
}

.my-title {
	font-size: 24px;
	padding-top: 6px;
	text-align: right;
	padding-bottom: 6px;
}

.brief-description {
	padding-bottom: 12px;
}


.brief-description {
	text-align: justify;
}

.button {
	display: flex;
	justify-content: flex-end;
}

#button-press {
	background: #06053C;
	padding: 5px;
	color: white;
	height: 45px;
	width: 170px;

}

#button-press:hover {
	font-weight: bold;
	box-shadow: 3px 3px 5px grey;
	transition: 0.5s;
}
#id-container {
	display: flex;
	justify-content: center;
}
#profile-picture {
	height: 400px;
	width: 300px;
}

.link-id {
	text-decoration: none;
	color: black;
}

.link-id:hover {
	font-weight: bold;
}

.contact-items {
	display: column;
	align-items: center;
	padding-top: 12px;
}

.contact {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: left;
}

.contact-info {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 10px;
}

#icon {
	font-size: 25px;
	margin-right: 10px;
	margin-left: 12px;
}	 

/*Footer*/

footer {
	margin-top: 30px;
	background: #06053C;
	color: white;
}



.link-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;

}

#icon2 {
	display: flex;
 	justify-content: center;
 	align-items: center;
	background: #F2F2F2;
	color: grey;
	font-size: 25px;
	height: 50px;
	margin: auto;
	width: 50px;	
	border-radius: 50%;
}

#icon2:hover {
	color: #06053C;
}

.icon-box {
	margin-left: 5px;
	margin-right: 5px;
}

/*Responsive for Tablets*/

@media screen and (max-width: 425px) {

}	